.b{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .t{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .c{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .login {
    margin-top: 200px;
    padding: 15px 0;
    background-color:white;
    border-radius: 3px;
  }
  .request {
    margin-top: 100px;
    width: 400px;
  }
  
  .login form{
    margin: 3px;
  }
  .i{
    margin: 14px;
  }  