h3{
    background-color: white;
    color: #495057;
    font-size: 1.05rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 29px;
    margin: 25px 0px 0px 0px;
}
.datatable-templating-demo{
    border-radius: 0px;
}
.h{
    margin: 25px 0px 0px 0px;
} 
.t2{
    display: flex;
    background-color: white;
    border-radius: 3px;
  }
  .t3{
    margin: 0px 0px 0px 12px;
  }
  .t4{
    margin: 0px 0px 0px 12px;
  }
  .tt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    
  }
  .t6{
    display: inline;
  }
  .t7{
    text-align: right;
    margin: 9px 119px 0px 0px;
  }
  .t8{
    text-align: left;
    margin: 0px 0px 0px 136px;

  }