.padre {
    width: 100%;
    margin: auto;
    display: flex;
}
.padre div {
    display: inline-block;
    width: 100%;
}

.hijo{
    border: 9px;
    font-size: 14px;
    background-color: white;
}
.gi{
    text-align: center;
}


