.dataview-demo .card{
    border: 1px solid black;
}
.p-grid{
    text-align: center;
    height: 100%;
    background-color: rgba(200, 233, 255, 0.63);
}
.p-grid .premiado{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
 .modificaTexto{
    font-size: large;
}